.outer{
    height: 5rem;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 3px solid black;
}
.dark{
    border-bottom: 2px solid #ffffff;
}
/* .light{
    border-bottom: 2px solid black;
} */
.bodyLight{
    background-color: #ffffff;
    color: black;
}
.bodyDark{
    background-color: black;
    color: #ffffff;
}
.btn{
    border: none;
}