h2{
    text-align: center;
}
.form label{
    display: block;
}
.form input{
    margin-top: 0.2rem;
    padding: 0.5rem;
    height: 30px;
    width: 90%;
    margin-bottom: 1rem;
}
.form input:focus{
    outline: none;
}
